html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #eeeeee;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
  color: #ffdd40;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

img {
  display: block;
  width: 100%;
}

nav .navbar-nav li a {
  color: white !important;
}

nav .navbar-nav li a:hover {
  color: #ffdd40 !important;
}

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  background-image: linear-gradient(#393e46 0%, #222831 100%);
  text-shadow: 2px 2px 1px #1f1f1f;
}

.welcome-section > p {
  font-size: 3rem;
  font-weight: 200;
  color: #00adb5;
}

.about-me {
  font-size: 2.5rem;
  font-weight: 200;
  color: #00adb5;
  text-align: center;
  padding: 30px 10px 30px 10px;
}

.click_here:hover {
  color: #ffdd40;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .welcome-section-content {
    padding-top: 250px;
    margin-bottom: 250px;
  }
}

.projects-section {
  text-align: center;
  padding: 10rem 2rem;
  background: linear-gradient(#222831 0%, #393e46 100%);
}

.projects-section-header {
  max-width: 640px;
  margin: 0 auto 6rem auto;
  border-bottom: 0.2rem solid #eeeeee;
  text-shadow: 2px 2px 1px #1f1f1f;
}

@media (max-width: 28.75em) {
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project {
  background: #393e46;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.code {
  color: #393e46;
  transition: color 0.3s ease-out;
}

.project:hover .code {
  color: #00adb5;
}

.project:hover .project-title {
  color: #ffdd40;
}

.project-image {
  height: calc(100% - 6.8rem);
  width: 100%;
  object-fit: cover;
}

.project-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  text-align: center;
  color: #ffffff;
}

.project-title:hover {
  color: #ffdd40;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
  background: #393e46;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.contact-section-header > h2 {
  font-size: 6rem;
}

@media (max-width: 28.75em) {
  .contact-section-header > h2 {
    font-size: 4rem;
  }
}

.contact-section-header > p {
  text-align: center;
  text-shadow: 2px 2px 1px #1f1f1f;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
  text-align: center;
  color: #ffffff;
}

.contact-details {
  font-size: 2.4rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
  text-align: center;
  color: #ffffff;
}

.contact-details:hover {
  color: #ffdd40;
}

footer {
  font-weight: 500;
  padding: 2rem;
  background: #00adb5;
  text-shadow: 2px 2px 1px #1f1f1f;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  footer {
    font-size: 1.3rem;
    padding: 2rem;
    background: #00adb5;
    text-shadow: 2px 2px 1px #1f1f1f;
    align-items: center;
  }
}

right_side {
  text-align: right;
  padding-right: 1em;
}
